body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #444;
    font-size: 2.5em;
}

#tablero {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

#areaJuego {
    display: grid;
    position: relative;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.casilla {
    border: 2px solid #d3d3d3;
    border-radius: 8px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.casilla > img {
    width: auto;
    height: 66%;
}

.casilla:hover {
    background-color: #b3ffe5;
    transform: scale(1.05);
}

svg {
    position: absolute;
    z-index: -1;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    margin: 20px;
    margin-bottom: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    margin-top: 0px;
    font-size: xx-large;
}
